* {
	margin:  0px;
	padding: 0px;

}

body {
	background-color:  #FFFFFF;
	font-family:  arial, sans-serif;
	font-size:  13px;
}

a {
	color:  #000000;
	opacity:  0.75;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li {
	display: inline;
	padding: 8px;
}

.header-left {
	position: relative;
	top: 1.8vh;
	left: .8vw;
}

.header-right {
	position: relative;
	top: 1.8vh;
	left: 86vw;
}