* {
	margin:  0px;
	padding: 0px;

}

.make-smaller {
	height: 1.8em;
	width: 1.8em;
}

body {
	background-color:  #FFFFFF;
	font-family:  arial, sans-serif;
	font-size:  13px;
}

a {
	color:  #000000;
	opacity:  0.75;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	position: fixed;
	height: 40px;
	width: 100%;
	bottom: 0;
	font-size: 14px;
	line-height:  40px;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	opacity: .85;
}

.search-container {
	height: 42px;
	width: 580px;
	border: 1px solid rgba(59, 59, 59, 0.15);
	border-radius: 24px;
	background: transparent;
	margin: auto;
	position: relative;
	top: 35px;
}

.search-container:hover {
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#search-lens {
	position: absolute;
	display: block;
	top: 8px;
	left: 13px;
}

#search-input {
	border: none; 
	position: relative;
	font-size:16px;
	left: 40px;
	top: 7px;
	height: 26px;
	width: 480px;
}


#search-mic {
	position: absolute;
	right: 18px;
	top: 9px;
}

.header-left {
	display: inline;
	padding: 8px;
	position: relative;
	top: 1.8vh;
	left: .8vw;
}

.header-right {
	float: right;
	display: inline;
	padding: 8px;
	margin-right: 10px;	
	position: relative;
	top: 1.5vh;
	right: 0.9vw;
}


.footer-left {
	display: inline;
	margin-left: 30px;
}

.footer-right {
	float: right;
	display: inline;
	margin-right: 25px;
}

.display-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 14vh;
}

#sign-in {
	border: 1px solid #4285f4;
	background: rgb(20, 90, 255);
	font-weight: bold;
	color: white;
	padding: 9px;
	border-radius: 4px;
	padding: .5em 1em .5em 1em;
}